<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Explore <%= title %></title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-resource.min.js"></script>
    <script src='/javascripts/jquery-3.1.1.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/jquery.tickertype.js"></script>
  </head>
  <body>
    <header class="explore">
      <div class="row">
        <div class="col-sm-2 col-xs-6">
          <div class="logo-holder">
            <a href="/">
              <img src="../images/Chat2.png" alt="site-logo" />
            </a>
          </div>
        </div>
        <div class="col-sm-10 col-xs-6 text-right">
          <nav class="head-nav">
            <ul>
              <a href="/explore/"><li class="discover"><span><img src="../images/compass.png" alt="discover logo" /></span>explore</li></a>
              <li class="md-trigger" data-modal="modal-12">Sign-up</li></a>
              <li class="md-trigger" data-modal="modal-2">Log-in</li></a>
            </ul>
          </nav>
        </div>
      </div>
      <div class="clear"></div>
    </header>
    <div class="search-bar">
      <div class="col-sm-12">
        <form class="madoka_form" action="index.html" method="post">
          <span class="input input--madoka">
  					<input class="input__field input__field--madoka" type="text" id="input-31" />
  					<label class="input__label input__label--madoka" for="input-31">
  						<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
  							<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
  						</svg>
  						<span class="input__label-content input__label-content--madoka madoka_input_label">Search</span>
  					</label>
  				</span>
        </form>
      </div>
      <div class="clear"></div>
    </div>
    <div class="profile-content">
      <div class="col-sm-2">
        <div class="discover-image-holder profile-image">
          <img src="../images/profilem.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-10">
        <div class="profile-content-stats">
          <div class="profile-username">
            <h2>meagan_00</h2>
          </div>
          <div class="profile-fullname">
            <p>Meagan Good</p>
          </div>
          <div class="profile-friend-stats">
            <p><span style="font-family:oswaldb;font-size:20px;">300</span> Friends</p>
          </div>
          <div class="profile-bio">
            <p></p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="explore-content">
      <h5 class="disc-pe profile-pee">Meagan's Photos</h5>
      <div class="col-sm-3 user">
        <div class="discover-image-holder">
          <img src="../images/profilem1.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-3 user">
        <div class="discover-image-holder">
          <img src="../images/profilem2.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-3 user">
        <div class="discover-image-holder">
          <img src="../images/profilem3.jpg" alt="" />
        </div>
      </div>
      <div class="col-sm-3 user">
        <div class="discover-image-holder">
          <img src="../images/profilem4.jpg" alt="" />
        </div>
      </div>
      <div class="clear"></div>
    </div>
      <div class="md-modal md-effect-12" id="modal-12">
        <div class="md-content">
          <h3>Sign-up Modal</h3>
          <div>
            <p>This is a modal window. You can do the following things with it:</p>
            <form class="" action="index.html" method="post">
              <span class="input input--minoru">
      					<input class="input__field input__field--minoru" type="text" id="input-13" />
      					<label class="input__label input__label--minoru" for="input-13">
      						<span class="input__label-content input__label-content--minoru">First Name</span>
      					</label>
      				</span>
      				<span class="input input--minoru">
      					<input class="input__field input__field--minoru" type="text" id="input-14" />
      					<label class="input__label input__label--minoru" for="input-14">
      						<span class="input__label-content input__label-content--minoru">Middle Name</span>
      					</label>
      				</span>
      				<span class="input input--minoru">
      					<input class="input__field input__field--minoru" type="text" id="input-15" />
      					<label class="input__label input__label--minoru" for="input-15">
      						<span class="input__label-content input__label-content--minoru">Last Name</span>
      					</label>
      				</span>
            </form>
            <button class="md-close">Close me!</button>
          </div>
        </div>
      </div>
      <div class="md-modal md-effect-2" id="modal-2">
        <div class="md-content">
          <h3>Login Modal</h3>
          <div>
            <p>This is a modal window. You can do the following things with it:</p>
            <form class="" action="index.html" method="post">
              <span class="input input--minoru">
      					<input class="input__field input__field--minoru" type="text" id="input-13" />
      					<label class="input__label input__label--minoru" for="input-13">
      						<span class="input__label-content input__label-content--minoru">First Name</span>
      					</label>
      				</span>
      				<span class="input input--minoru">
      					<input class="input__field input__field--minoru" type="text" id="input-14" />
      					<label class="input__label input__label--minoru" for="input-14">
      						<span class="input__label-content input__label-content--minoru">Middle Name</span>
      					</label>
      				</span>
      				<span class="input input--minoru">
      					<input class="input__field input__field--minoru" type="text" id="input-15" />
      					<label class="input__label input__label--minoru" for="input-15">
      						<span class="input__label-content input__label-content--minoru">Last Name</span>
      					</label>
      				</span>
            </form>
            <button class="md-close">Close me!</button>
          </div>
        </div>
      </div>
    	<div class="md-overlay"></div><!-- the overlay element -->
    <footer></footer>
    <script>
			(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}
				}
			})();
		</script>
    <script src="../javascripts/classie.js"></script>
		<script src="../javascripts/modalEffects.js"></script>
  </body>
</html>
