
/*font for dev*/
@font-face {
  font-family: oswaldn;
  src: url(../fonts/OswaldesqueLight.ttf);
}
@font-face {
  font-family: oswaldb;
  src: url(../fonts/OswaldesqueBold.ttf);
}


/*==================================================================*/



.main-head{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/hero-min.jpg") top center;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
header{
  width: 100%;
  height: auto;
  background-color: transparent;
}
ul{
  margin-bottom:0px;
}
.discover{
  float: left;
  position: relative;
  left: -80px
}
.discover span{
  padding: 5px;
}
.discover:hover{
  border-bottom: 1px solid transparent !important;
}
.head-nav ul li{
  display: inline-block;
  padding: 40px 15px 10px 15px;
  color: white;
  letter-spacing: 6px;
  transition: all 0.3s cubic-bezier(1, -0.57, 0.4, -0.16);
  border-bottom: 1px solid transparent;
  font-family: oswaldn;
  cursor:pointer;
}
.head-nav ul li:hover{
  border-bottom: 1px solid white;
}
.clear{
  clear: both;
}
div.logo-holder{
  position: relative;
  width: 100%;
  padding-top: 50%;
}
div.logo-holder img{
  width: 40%;
  position: absolute;
  top: 15px;
  right: 0;
  left: 20px;
  bottom: 0;
  object-fit: contain

}
/*=====================modal style============================*/
/* General styles for the modal */

/*
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}
button {
	border: none;
	padding: 0.6em 1.2em;
	background: #c0392b;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}
.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(45, 64, 78, 0.7);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
	background: #2d404e;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}
/* Effect 2: Slide from the right */
.md-effect-2 .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-effect-2 .md-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

/* Effect 12:  Just me */
.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
	background: #2D404E;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
/*====================================================*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	/*max-width: 350px;*/
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
.madoka_input_label{
  font-size: 15px;
  top: -13px;
  font-weight: 400;
  letter-spacing: 2px;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}
/* Minoru */
.input__field--minoru {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 0px 2px transparent;
	color: #eca29b;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.input__label--minoru {
	padding: 0;
	width: 100%;
	text-align: left;
}

.input__label--minoru::after {
	content: '';
  	position: absolute;
  	top: 0;
  	z-index: -1;
  	width: 100%;
  	height: 4em;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(199,152,157, 0.6);
}

.input__field--minoru:focus {
	box-shadow: 0px 0px 0px 2px #eca29b;
}

.input__field--minoru:focus + .input__label--minoru {
	pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
	-webkit-animation: anim-shadow 0.3s forwards;
	animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

.input__label-content--minoru {
	padding: 0.75em 0.15em;
}
/*=================================================*/
div.mhl{
  margin: auto;
  text-align: center;
  float: none;
}
div.mhl img{
  width: 90%;
  position: relative;
  top: -70px;
}
#ticker-area{
  position: relative;;
  list-style-type: none;
  font-size: 40px;
  color: white;
  font-family: oswaldn;
  text-align: center;
  top: -100px;
  letter-spacing: 5px;
}
@keyframes chevan {
    0% {
      opacity: 0;
      width:20px;
      top:-60px;

    }
  10% {
      opacity: 1;

    }
    90%{
      top:0px;
      width: 40px;
    }
    100%{
      opacity: 0;
      top:-60px;
    }
}

/* The element to apply the animation to */
.chev-arrow{
  width: 100%;
  position: relative;
}
.chev-arrow img{
  position: relative;
  width: 30px;
  left:50%;
  border-radius:50%;
  animation: chevan 1.7s ease-in-out infinite;
}

section.about-us{
  height:auto;
  width: 100%;
}


/* ====explore-page==== */

.explore{
  background-color: #282C37;
}
/* Madoka */
.input--madoka {
	margin: 1.1em;
}

.input__field--madoka {
	width: 100%;
	background: transparent;
	color: #7A7593;
}

.input__label--madoka {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #7A7593;
	text-align: left;
	cursor: text;
}

.input__label-content--madoka {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.graphic--madoka {
	-webkit-transform: scale3d(1, -1, 1);
	transform: scale3d(1, -1, 1);
	-webkit-transition: stroke-dashoffset 0.3s;
	transition: stroke-dashoffset 0.3s;
	pointer-events: none;

	stroke: #7A7593;
	stroke-width: 4px;
	stroke-dasharray: 962;
	stroke-dashoffset: 558;
}

.input__field--madoka:focus + .input__label--madoka,
.input--filled .input__label--madoka {
	cursor: default;
	pointer-events: none;
}

.input__field--madoka:focus + .input__label--madoka .graphic--madoka,
.input--filled .graphic--madoka {
	stroke-dashoffset: 0;
}

.input__field--madoka:focus + .input__label--madoka .input__label-content--madoka,
.input--filled .input__label-content--madoka {
	-webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
	transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
}
.madoka_form{
  width: 50%;
  margin: auto;
}
.disc-pe{
  font-family: oswaldn;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
  top: 20px;
  margin: 0;
}
.explore-content{
  width: 100%;
  height: auto;
  min-height: 60vh;
  /*background-color: crimson;*/
  padding: 20px 40px;
  position: relative;
  top: 30px;
}
.discover-image-holder{
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.discover-image-holder img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  object-fit: cover;
}
.discover-user-username p a{
  letter-spacing: 2px;
  text-align: center;
  color: black;
  position: relative;
}
.user{
  margin-bottom: 10px;
  padding: 20px 40px !important;
  transition: all 0.6s ease-in-out;
}
.user:hover{
  box-shadow: 2px 2px 15px #8080804d;
}

/* ====profile-page==== */
.profile-pee{
  top: -20px;
  font-family: oswaldb;
  margin-bottom: 20px;
}
.profile-content{
  padding: 10px 40px;
  margin: 20px 0px;
  position: relative;
  top: 20px;
}
.profile-image{

}
.profile-image img{
  border-radius: 50%;
  left: 40px;
  top: 20px
}
.profile-content-stats{
  padding: 35px;
  font-family:  verdana;
  letter-spacing: 5px;
}
